@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  #app {
    padding: 0; /* Remove the extra padding that appears on desktop */
  }
}

@media (min-width: 1024px) {
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: block; /* Overrides the media query display if necessary */
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none; /* Removes the 1280px limit */
  display: flex;
  flex-direction: column;
}
}
